
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/javascripts/mainfinal.js"></script>
</head>
<body>

    <div class="navig_bar" id="mainbox">
        <div class="navig_logo" id="logo">
            <p>DASHBOARD</p>
        </div>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <button class="logoutbut">
            <a href="" id="but">logout</a>
        </button>
    </div>
    <div class="mainsec">
        <div class="userbox">

            <div class="select">

                <form name="form1" id="form1">
                    Symbol:
                    <br>
                     <select name="sym" id="symbol" >
                        <option value="1" >Select symbol</option>
                        <option value="1.2" >Sct symbol</option>

                      </select>
                      <br>
                </form><br>
                <div>
                    <p>Choose start date</p>
                    <form>
                        <input type="date" id="start" name="trip-start" value="2018-07-22" min="2000-01-01"
                            max="2021-12-31">
                    </form>
                </div><br>
                <div>
                    <p>Choose end date</p>
                    <form>
                        <input type="date" id="end" name="trip-end" value="2018-07-22" min="2000-01-01"
                            max="2021-12-31">
                    </form>
                </div><br>
                <div class="submit">
                    <input type="button" name="submit_id" id="btn_id" value="GET" onclick="submit_by_id()"/>
                </div>
            </div>
            <div class="info">
                <p>fgd</p>
            </div>
            
        </div>
        <div class="canvas" id="chartContainer">
            <p>graph</p>
        </div>
        <div class="userselect">
            <p>userselct</p>
        </div>
    </div>
    <div class="history">
        <p>history</p>
    </div>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>