 *{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}
.navig_bar{
    background-image: linear-gradient(#131313,#5e5e5e);
    border: black;
    position: fixed;
    display: flex;
    width: 100%;
    height:80px;
    
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.navig_logo {
    display:flex;
    justify-content: center;
    z-index:1;
    width: 100%;
    background-image: linear-gradient( #38a8d4 0%, aqua 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 1000;
    /*jihinjbhggggggggggggggggg*/
    margin: 0 auto;
    padding: 0 50px;
}
.logoutbut{
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
    width: 100px;
    height: 30px;
    background-color: #18a8fc;
    transition: all 0.3s ease;
}
#but{
    color:white;
    text-decoration: none;
}
.logoutbut:hover{
    color:#e7e3e3;
}
.mainsec{
    width: 100% ;
    padding-top: 100px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    background-color: #AAA;
    padding-left: 10px;
    padding-right: 10px;
}
.userbox{
    display:grid;
    width:20%;
    height: 90%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: turquoise;
    border-radius: 10px;
}
.userbox .select{
    background-color: teal;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
}
.userbox .info{
    background-color: teal;
    border-radius: 10px;
}
.canvas{
    width:60%;
    height:90%;
    padding: 10 10px;
    background-color: turquoise;
    border-radius: 10px;
    
}
.userselect{
    width:18%;
    height: 90%;
    padding-left: 10px;
    background-color: turquoise;
    border-radius: 10px;
  
    
}
#symbol {
    height: 35px;
    border-radius: 8px;
    background-color: silver;
}
#start{
    height: 35px;
    border-radius: 8px;
    background-color: silver;
}
#end{
    height: 35px;
    border-radius: 8px;
    background-color: silver;
}
.submit{
    justify-content: center;
}
#btn_id{
    justify-content: center;

}
.chart-container {
  width: 100%;
  height: 400px;
  justify-content: center;
  
}